header {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    margin-bottom: 1rem;
    box-shadow: 0px 0px 2px 2px lightgray;
    font-family: 'Courier New', monospace;
}
.title {
    font-family: Copperplate, Papyrus, fantasy, 'Brush Script MT', 'cursive', 'Courier New', monospace;
    font-weight: lighter;
    margin: 0px;
}
.app {
    background-color: whitesmoke;    
}
nav {
    display: flex;
}
.restaurant-container {
    display: flex;
    margin: 1%;
    flex-wrap: wrap;
    /* justify-content:space-around; */
    flex-grow: 1;
    justify-content: flex-start;
}
.resto-card {
    /* max-width: 20%; */
    width: 20%;
    aspect-ratio: 3/4;
    margin: 2%;
    box-shadow: 0px 0px 5px lightgray;
    border-radius: 5%;
    background-color:antiquewhite;
}
.resto-card:hover {
    transform: scale(1.02);
    cursor: pointer;
    box-shadow: 0 0 0 3px green;
    transition: all 0.3s ease-in-out;
}
.resto-info {
    padding: 0rem 1rem;
    height: 6rem;
}
.resto-info > h2,p {
    margin: 2px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.resto-image-container {
    width: 100%;
    height: 75%;
}
.resto-image {
    padding: 0.1px;
    width: calc(100% - 0.2px);
    height:100%;
    border-radius: 5%;
    object-fit: fill !important;
}
.actions-container {
    margin-left: 4%;
}
.icon-style {
    display: 'flex'; 
    align-items: center;
}

.actions-container button {
    margin: 0px 15px;
    cursor: pointer;
    background-color: lightblue;
}
ul {
    list-style: none;
    display: flex;
    justify-items: right;
    gap: 20px;
}
ul > li:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}
.nav-logo {
    width: 4%;
    border-radius: 25%;
    transition: all 0.1s ease-in-out;
}

.nav-logo:hover {
    transform: scale(1.05);
}


.footer-container {
    /* position: absolute;
    bottom: 0px; */
    display: flex;
    justify-content: space-between;
}

.footer-container > .terms-container {
    display: flex;
    margin: 0px;
    flex-direction: column;
    gap: 2px;
}
.footer-container > ul > li:hover {
    cursor: pointer;
    transform: scale(1.01);
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
}
button {
    text-align: center;
    margin: 0px 10px;
    cursor: pointer;
    background-color: lightblue;
    /* padding: 10px 20px; */
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
}
.filter-btn {
    position: relative;
    background-color: lightskyblue;
}

.filter-btn.checked {
    background-color: lightgreen;
    padding-right: 1rem;
}
.filter-btn .checked {
    visibility: visible;
    position: absolute;
}
.filter-btn .unchecked {
    visibility: hidden;
    position: absolute;
}